.success {
    background-color: green;
}

.failure {
    background-color: red;
}

.message {
    height: 100px;
    width: 100%;
}


button {
    border: none;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
}

button:disabled {
    background-color: grey;
}

.statistics {
    margin: 0 auto;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-evenly;
}

.gloabl-container {
    max-width: 300px;
}

.controls-container {
    margin: 12px auto;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}